@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button class="btn btn-primary" @onclick="SavePdf2">Go to weather</button>
<button class="btn btn-primary" @onclick="Henk">Go to weather</button>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

