@page "/test"
@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Puppeteer Google page to PDF test!</h1>


<button class="btn btn-primary" @onclick="SavePdf">Crate pdf</button>
@* <button class="btn btn-primary" @onclick="Henk">Go to weather</button>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button> *@
<br />
@_finishedMessage

@code {
    [Inject]
    public HtmlRenderService HtmlRenderService { get; set; }

    private string _finishedMessage = string.Empty;

    private async void SavePdf()
    {
        var fileName = await HtmlRenderService.TakePdfScreenshot();
        //var result = await HtmlRenderService.RenderServiceCheckReport(0);
        // using var writer = new BinaryWriter(File.OpenWrite(@"C:\Temp\file.pdf"));
        // writer.Write(result);
        _finishedMessage = $"Pdf saved as {fileName}";
        StateHasChanged();
    }

    private void Henk()
    {
        var h = "Henk";
    }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
